@mixin app-tabs-theming($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);

  md-tab-group {
    &.padding md-tab-body {
      padding-top: 30px;
    }
    md-tab-header {
      .mat-tab-label {
        text-transform: uppercase;
      }
      .mat-tab-label-active {
        color: $primary-color;
      }
      .mat-tab-label:focus {
        background: none;
      }
    }
    md-tab-body {
      height: 100%;
    }
  }
}
