<mat-drawer-container autosize class="pages-wrapper">

  <mat-drawer #drawer mode="side" opened="true" class="pages-sidenav" fxLayout="column" fxLayoutAlign="space-between">

    <div class="item-padding">


      <div routerLink="/" class="click">
        <mat-icon>android</mat-icon> &nbsp;
        <span *ngIf="!iconMode">RobotoBR</span>
      </div>

    </div>

    <button mat-button class="toggle-icon-mode-btn" (click)="drawer2.toggle()">
      <mat-icon>attach_money</mat-icon> &nbsp;
      <span *ngIf="!iconMode">compact</span>
    </button>

    <div fxFlex>

      <app-left-menu [iconMode]="iconMode"></app-left-menu>

    </div>

    <button mat-button class="toggle-icon-mode-btn" (click)="iconMode = !!!iconMode">
      <ng-container *ngIf="!iconMode">
        <mat-icon>arrow_back</mat-icon> &nbsp; compact
      </ng-container>
      <mat-icon *ngIf="iconMode">arrow_forward</mat-icon>
    </button>

  </mat-drawer>

  <mat-drawer #drawer2 mode="side" position="end" opened="true" class="right-sidenav">
    <div fxLayout="column" fxLayoutGap="8px">
      <app-balance [assets]="assets" (balanceSelected)="setNewOrderValuesBasesOnBalanceSelected($event)"></app-balance>
      <app-my-open-orders></app-my-open-orders>
      <app-upsert-order></app-upsert-order>
      <app-execution-report></app-execution-report>
    </div>
  </mat-drawer>

  <div class="pages-content">
    <div class="pages-router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>