$kissbot-primary-color: mat-color($kissbot-theme-primary);
$kissbot-primary-bg: mat-color($kissbot-theme-primary);
$kissbot-accent-color: mat-color($kissbot-theme-accent);
$kissbot-accent-bg: mat-color($kissbot-theme-accent);
$kissbot-warn-color: mat-color($kissbot-theme-warn);
$kissbot-warn-bg: mat-color($kissbot-theme-warn);