// Primary
.rbr-primary-color {
  color: $rbr-primary-color !important;
}

.rbr-primary-bg {
  background-color: $rbr-primary-bg !important;
  color: mat-contrast($rbr-theme-primary, default) !important;
}

.rbr-primary-border-3px {
  border: 3px solid $rbr-primary-bg !important;
}

// Accent
.rbr-accent-color {
  color: $rbr-accent-color !important;
}

.rbr-accent-bg {
  background-color: $rbr-accent-bg !important;
  color: mat-contrast($rbr-theme-accent, default) !important;
}

.rbr-accent-border-3px {
  border: 3px solid $rbr-accent-bg !important;
}

// Warn
.rbr-warn-color {
  color: $rbr-warn-color !important;
}

.rbr-warn-bg {
  background-color: $rbr-warn-bg !important;
  color: mat-contrast($rbr-theme-warn, default) !important;
}

.rbr-warn-border-3px {
  border: 3px solid $rbr-warn-bg !important;
}


.rbr-red {
  color: red;
}

.rbr-green {
  color: green;
}
