// Primary
.kissbot-primary-color {
  color: $kissbot-primary-color !important;
}

.kissbot-primary-bg {
  background-color: $kissbot-primary-bg !important;
  color: mat-contrast($kissbot-theme-primary, default) !important;
}

.kissbot-primary-border-3px {
  border: 3px solid $kissbot-primary-bg !important;
}

// Accent
.kissbot-accent-color {
  color: $kissbot-accent-color !important;
}

.kissbot-accent-bg {
  background-color: $kissbot-accent-bg !important;
  color: mat-contrast($kissbot-theme-accent, default) !important;
}

.kissbot-accent-border-3px {
  border: 3px solid $kissbot-accent-bg !important;
}

// Warn
.kissbot-warn-color {
  color: $kissbot-warn-color !important;
}

.kissbot-warn-bg {
  background-color: $kissbot-warn-bg !important;
  color: mat-contrast($kissbot-theme-warn, default) !important;
}

.kissbot-warn-border-3px {
  border: 3px solid $kissbot-warn-bg !important;
}