@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Roboto/Medium/Roboto-Medium.eot");
  src: url("/assets/fonts/Roboto/Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Roboto/Medium/Roboto-Medium.svg#OpenSansLight") format("svg"),
  url("/assets/fonts/Roboto/Medium/Roboto-Medium.woff") format("woff"),
  url("/assets/fonts/Roboto/Medium/Roboto-Medium.woff2") format("woff2"),
  url("/assets/fonts/Roboto/Medium/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Roboto/Regular/Roboto-Regular.eot");
  src: url("/assets/fonts/Roboto/Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Roboto/Regular/Roboto-Regular.svg#OpenSansLight") format("svg"),
  url("/assets/fonts/Roboto/Regular/Roboto-Regular.woff") format("woff"),
  url("/assets/fonts/Roboto/Regular/Roboto-Regular.woff2") format("woff2"),
  url("/assets/fonts/Roboto/Regular/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
