<form role="form">

  <div fxLayout="row" fxLayoutGap="8px">

    <mat-form-field fxFlex>
      <mat-select placeholder="Market" name="Market" [(ngModel)]="market">
        <mat-option *ngFor="let market of markets" [value]="market">
          {{market.symbol}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-select placeholder="Side" name="Side" [(ngModel)]="side">
        <mat-option *ngFor="let side of sides" [value]="side">
          {{side}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutGap="8px">

    <mat-form-field fxFlex>
      <input matInput type="number" name="quantity" [placeholder]="(market ? market.from : '') + ' quantity'" [(ngModel)]="quantity">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput type="number" name="price" [placeholder]="(market ? market.from : '') + ' price'" [(ngModel)]="price">
    </mat-form-field>

  </div>


  <div fxLayout="row" fxLayoutGap="8px">

    <mat-form-field fxFlex>
      <input matInput type="number" name="total" [placeholder]="(market ? market.to : '') + ' total'" [(ngModel)]="total">
    </mat-form-field>


  </div>

</form>
