<div fxLayout="column" fxLayoutGap="8px">

  <div fxLayout="row" fxLayoutGap="8px">

    <app-market-selector fxFlex placeholder="Market" name="Market" [(ngModel)]="newOperation.market" (ngModelChange)="connectToWebsocket()"
      [disabled]="active"></app-market-selector>

    <mat-form-field fxFlex>
      <mat-select placeholder="Type" name="Type" [(ngModel)]="newOperation.operatioType" [disabled]="active">
        <mat-option *ngFor="let operatioType of operatioTypes" [value]="operatioType">
          {{ operatioType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutGap="8px">

    <ng-container *ngIf="newOperation.operatioType === 'BUY_LIMIT' || newOperation.operatioType === 'SELL_LIMIT'">

      <div>
        <mat-form-field>
          <input matInput type="number" name="Bottom" placeholder="Bottom" [(ngModel)]="newOperation.bottomLimit" [disabled]="active">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="number" name="Middle" placeholder="Middle" [(ngModel)]="newOperation.middle" [disabled]="active">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="number" name="Top" placeholder="Top" [(ngModel)]="newOperation.topLimit" [disabled]="active">
        </mat-form-field>
      </div>

    </ng-container>

  </div>

  <div>

    <mat-slide-toggle [(ngModel)]="active">{{ active ? 'ACTIVE' : 'INACTIVE'}}</mat-slide-toggle>

  </div>

  <div *ngIf="newOperation.market && active" fxLayout="column" fxLayoutGap="8px">

    <div>
      Relation {{ distanceBottomPercentual }}% / {{ distanceTopPercentual }}% ({{ distanceTopPercentual / distanceBottomPercentual
      }}/1)
    </div>

    <div>
      Status {{ lastPrice | json}} / {{ newOperation.middle }} ({{ distancePercentual }}%)
    </div>

    <div [ngSwitch]="lastPrice > newOperation.middle">

      <ng-container *ngSwitchCase="true">
        <span class="rbr-green">TAKE_PROFIT of {{ newOperation.topLimit }} ({{ topPercentual }}%)</span>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <span class="rbr-red">STOP_LOSS of {{ newOperation.bottomLimit }} ({{ bottomPercentual }}%)</span>
      </ng-container>

    </div>

  </div>

</div>