<ng-container *ngIf="(balances$ | async) as balances">

  <table mat-table [dataSource]="balances" class="app-balance-table mat-elevation-z8" *ngIf="balances.length else retrievingBalance">

    <ng-container matColumnDef="asset">
      <td mat-cell *matCellDef="let balance" title="Asset"> {{balance.asset}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <td mat-cell *matCellDef="let balance" title="Total"> {{ (balance.free + balance.locked) | number:'1.8-8' }} </td>
    </ng-container>

    <ng-container matColumnDef="free">
      <td mat-cell *matCellDef="let balance" title="Free"> {{balance.free | number:'1.8-8' }} </td>
    </ng-container>

    <ng-container matColumnDef="locked">
      <td mat-cell *matCellDef="let balance" title="Locked" [ngClass]="{'rbr-warn-color': balance.locked}"> {{balance.locked | number:'1.8-8' }} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</ng-container>

<ng-template #retrievingBalance>
  Getting balance...
</ng-template>