$rbr-primary-color: mat-color($rbr-theme-primary);
$rbr-primary-bg: mat-color($rbr-theme-primary);
$rbr-accent-color: mat-color($rbr-theme-accent);
$rbr-accent-bg: mat-color($rbr-theme-accent);
$rbr-warn-color: mat-color($rbr-theme-warn);
$rbr-warn-bg: mat-color($rbr-theme-warn);
