@import '~@angular/material/_theming';
@include mat-core();

// COLORS
$rbr-theme-primary: mat-palette($mat-teal, A400);
$rbr-theme-accent: mat-palette($mat-blue, 800);
$rbr-theme-warn: mat-palette($mat-orange);

// THEME
$rbr-theme: mat-light-theme($rbr-theme-primary, $rbr-theme-accent, $rbr-theme-warn);


button.mat-raised-button.mat-primary{
  color: white;
}
