<div class="toolbar-wrapper" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end">
  <div fxFlex="120px">
    <mat-select placeholder="Add market" [(ngModel)]="marketToAdd" (selectionChange)="addMarket($event)" name="market-selector">
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let market of markets" [value]="market">
        {{market.label}}
      </mat-option>
    </mat-select>
  </div>
</div>

<hr>

<div fxLayout="row" fxLayoutGap="16px">
  <app-watcher *ngFor="let market of openMarkets" [market]="market" (trade)="onTrade(market, $event)"></app-watcher>
</div>